.body {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 5px;
  border: none;
  outline: none;
  background-color: #fff;
  cursor: pointer;
}

.line {
  width: 20px;
  height: 2px;
  background-color: #1f1f1f;
}

.line:not(:last-child) {
  margin-bottom: 4px;
}
