.wrapper {
  width: 100%;
  padding: 0 72px;
}

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 75px;
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 5px;
  color: inherit;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}

.line {
  width: 20px;
  height: 2px;
  background-color: #1f1f1f;
}

.line:not(:last-child) {
  margin-bottom: 4px;
}

.navMenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navLink {
  color: #636363;
  text-decoration: none;
  transition: .1s all;
  font-size: 24px;
  padding: 5px 15px;
}

.navLink:not(:last-child) {
  margin-bottom: 20px;
}

.navLink:hover {
  color: #000;
}

.authLink {
  color: inherit;
  text-decoration: none;
  transition: .1s all;
}

.authLink--small {
  font-size: 14px;
}

.authLink:hover {
  color: #666;
}

.signedInRegs {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 550px;
  height: 100%;
}

.signedOutRegs {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.buttonWrapper {
  margin-right: 10px;
}

.separator {
  position: absolute;
  top: calc(100% + 1px);
  left: -50%;
  width: 200%;
  height: 1px;
  background-color: #e4e4e4;
}

/* .content {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
} */
