.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px 100px;
  border: 1px solid #ddd;
  border-radius: 20px;
}

.title {
  margin: 50px 0 50px;
}

.inputBody {
  width: 500px;
  height: 200px;
  padding: 10px;
  resize: none;
  border: 1px solid #aaa;
  border-radius: 5px;
  outline: none;
}

.createButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 30px;
  padding: 5px;
  margin-top: 20px;
  border: 1px solid #aaa;
  border-radius: 10px;
  background-color: yellow;
  font-size: 20px;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
