.post {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 180px;
  padding: 30px 20px;
  margin-bottom: 50px;
  border: 2px solid #ddd;
  border-radius: 10px;
}

.postHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.postContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.postTitle {
  font-size: 30px;
  margin: 0;
}

.postDescription {
  width: 100%;
  height: 88px;
  font-size: 18px;
  word-wrap: break-word;
  text-indent: 20px;
  line-height: 22px;
  margin-bottom: 10px;
  overflow: hidden;
}

.deleteButton {
  width: 30px;
  height: 30px;
  background-color: red;
  border: 1px solid #ddd;
  border-radius: 10px;
  cursor: pointer;
}

.deleteButton:hover {
  border: 1px solid #ccc;
}
