.searchField {
  width: 290px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #e4e4e4;
  border-radius: 20px;
}

.searchIcon {
  transform: translateX(-3px);
}

.searchInput {
  min-width: 230px;
  font-size: 14px;
  border: none;
}

.searchInput::-moz-placeholder {
  color: #c4c4c4;
}

.searchInput::-webkit-input-placeholder {
  color: #c4c4c4;
}
